* {
    font-family: 'Poppins';
}
body {
    margin: 0 50px;
    background-image: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    margin: 50px auto;
    color:white
}
input[type="file"]{
    display: none;
}
label {
    background-color: wheat;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px;
    transition: .3s;
}
label:hover {
    box-shadow: 6px 6px;
}
.upload-image {
    text-align: center;
    margin: 20px 0;
}
.predict {
    text-align: center;
    margin: 30px 0;
}
button {
    padding: 5px 10px;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: yellow;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.container div{
    cursor: pointer;
}
.container div img {
    transition: .3s;
}
.container div img:hover {
    transform:translateY(-5px);
}
.container h2 {
    background-color: #eeeeee;
    text-align: center;
    margin:0
}
.container h2,.container img{
    border-radius: 10px;
}
.footer {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
   }
.footer a {
    transition: .3s;
   }
.footer a:hover {
    transform:translateY(-5px);
  }

.result {
    text-align: center;
    color:white
}
span {
    color:black
}

@media (max-width:900px)
{
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0;
    }
.container div {
    margin: 10px auto;
}
}